*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1{
    background-color: black;
    color: white;
    text-align: center;
    padding:10px;
}
p{
    background-color: rgb(146, 140, 140);
    text-align: center;
}
a {
  text-decoration: none;
  color:rgb(51, 48, 48) ;
  margin-right: 10px;
}